<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  
  <main id="main-content">
    <div class="error-page">
      <div class="error-code">403</div>
      <p class="error-message">You do not have permission to access this page.</p>
      <a href="/" class="error-link">Go Home</a>
    </div>
  </main>

  <%- include('../partials/footer') %>
  <script src="/js/main.js"></script>
</body>
</html>